* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #F3F5FC;
}

.logo {
    width: 100%;
    max-width: 200px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.text-area {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.mensaje {
    width: 100%;
    max-width: 500px;
}

.botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-encriptar,
.btn-desencriptar,
.btn-copiar {
    width: 100%;
    max-width: 200px;
    margin: 0 10px;
}

@media screen and (max-width: 600px) {
    .logo {
        max-width: 150px;
    }
    
    main {
        padding: 10px;
    }
    
    .text-area,
    .mensaje {
        max-width: 100%;
    }
    
    .botones {
        flex-direction: column;
    }
    
    .btn-encriptar,
    .btn-desencriptar,
    .btn-copiar {
        margin: 10px 0;
        max-width: 100%;
    }
}
